body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

table,
tr,
th,
td {
	border: black 1px solid;
	border-collapse: collapse;
}

#col-no {
	width: 100px;
}

#col-name {
	width: 300px;
}

#col-class {
	width: 200px;
}

#col-score,
#col-status {
	width: 160px;
}
